<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:bean="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--<aop:config proxy-target-class="true">-->
        <!--<aop:aspect ref="adviceMethods">-->
            <!--<aop:before method="logTimes" pointcut="target(com.davin) and execution(* *(..))"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <context:component-scan base-package="com.davin.service"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean class="com.davin.aspect.DoLog"/>

    <!--<cache:annotation-driven/>-->
    <!--<bean id="accountServiceBean" class="com.davin.simplecache.UserService"/>-->
    <!--<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">-->
        <!--<property name="caches">-->
            <!--<set>-->
                <!--<bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" p:name="default"/>-->
                <!--<bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" p:name="users"/>-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="adviceMethods" class="com.davin.advice.LogMethods"/>-->
</beans>